node_modules
dist
.env
.env.local
coverage
uploads/*
!uploads/.gitkeep
*.log
*.tsbuildinfo
apps/web/vite.config.js
apps/web/vite.config.d.ts
.DS_Store
TrendsBirdLimitedBackendInternAssignment.docx.html
images/
